stages:
- style
- test

jobs:
  include:
  - stage: style
    language: python
    python: 2.7
    install:
    - pip install -U pip
    - pip install -U pycodestyle
    before_script:
    - pip install -Ur requirements.txt
    - python2 -V
    env:
    - NAME="Style"
    script:
    - pycodestyle moler
  - stage: style
    language: python
    python: 3.6
    install:
    - pip install -U pip
    - pip install -U pycodestyle
    before_script:
    - pip install -Ur requirements.txt
    - python3 -V
    env:
    - NAME="Style"
    script:
    - pycodestyle moler
  - stage: test
    language: python
    python: 2.7
    install:
    - pip install -U pip
    - pip install -U pytest-mccabe pytest-random
    before_script:
    - pip install -Ur requirements.txt
    - python2 -V
    env:
    - NAME="Test"
    script:
    - python2.7 -m pytest --mccabe --random  -s -vv moler
  - stage: test
    language: python
    python: 3.6
    install:
    - pip install -U pip
    - pip install -U coveralls pytest-mccabe pytest-random
    before_script:
    - pip install -Ur requirements.txt
    - python3 -V
    env:
    - NAME="Test"
    script:
    - python3.6 -m pytest --mccabe moler
    - coverage run -m py.test --random  -s -vv
    after_success:
    - coveralls
