futures >= 3.0.0; python_version == "2.7"
ptyprocess; platform_system != "Windows"
pyyaml >= 5.1
six
transitions
apscheduler == 3.8.1; python_version < '3'
apscheduler; python_version > '3'
trollius; python_version < '3'
deepdiff == 3.3.0; python_version < '3.5'
deepdiff == 5.0.2; python_version >= '3.5' and python_version < '3.6'
deepdiff == 5.7.0; python_version >= '3.6' and python_version < '3.7'
deepdiff; python_version >= '3.7'
psutil
python-dateutil
pyserial
cryptography
paramiko
