futures >= 3.0.0; python_version == "2.7"
ptyprocess
pyyaml >= 5.1
six
transitions
apscheduler
trollius; python_version < '3'
deepdiff == 3.3.0; python_version < '3'
deepdiff; python_version > '3'
psutil
python-dateutil
pyserial
cryptography
paramiko
